@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 99.7%;
	height: 99.7%;
	border: 0px solid black;
}

#pagina-grupo {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

#pagina-grupo-contexto {
	width: 100%;
	height: 100%;
}

#pagina-grupo-mapa {
	width: 99.15%;
	height: 95%;
	z-index: 0;
	position: absolute;
	background: #EBEFF2;
}

#pagina-grupo-host {
	height: 25px;
	width: 600px;
	border: 0px solid black;
	z-index: 100;
	position: absolute;
	margin-top: 5px;
	margin-right: 140px;
	right: 0;
	float: center;
	text-align: right;
}

.labels {
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}